<h1>
	About StrangeFruit
</h1>
<h2>
	Informations
</h2>
<div class="three-cols">
	<div class="col">
		<h3>About</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.<br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum<br/><br/>dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

	<div class="col">
		<h3>Stockists</h3>
		<div class="address">
			<div class="name"><a href="http://thegreatfroglondon.com">The Great Frog</a></div>
			<div class="street">10 Ganton Street</div>
			<div class="city">London W1F 7QR</div>
			<div class="tel">Tel: 020 7439 9357</div>
			<div class="email">E: info@thegreatfroglondon.com</div>
			<div class="store-details">
				<div class="store-title">Store Hours</div>
				<div>Mon - Sat: 10.30am - 6.30pm</div>
				<div>Sun: 12pm - 5pm</div>
			</div>
		</div>
		<div class="address">
			<div class="name"><a href="http://wolfandbadger.com">Wolf &amp; Badger</a></div>
			<div class="street">46 Ledbury Road,<br/>Notting Hill</div>
			<div class="city">London W11 2AB</div>
			<div class="tel">Tel: 020 7229 4848</div>
			<div class="store-details">
				<div class="store-title">Store Hours</div>
				<div>Mon - Sat: 10am - 6pm</div>
				<div>Sun: 11am - 5pm</div>
			</div>
		</div>
	</div>

	<div class="col">
		<h3>Contact</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.<br/><br/>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			Lorem ipsum<br/><br/>dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</p>
	</div>
</div>