<h1>
	Silver Collection
</h1>
<h2>
	Silver Bear Plate
</h2>
<div class="details" style="background-image:url('/img/products/silver/bear_1.png');">
	<div class="desc">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	</div>
	<div class="price">£200</div>
	<ul class="list-details">
		<li>Ring</li>
		<li>Available sizes</li>
		<li>Bespoke</li>
		<li>Material</li>
	</ul>
	<!-- <a class="btn add-cart" href="#">Add to cart</a> -->
	<div class="thumbnails">
		<span>Other views</span>
		<ul>
			<li class="selected">
				<a href="/img/products/silver/bear_1.png">
					<img src="/img/products/silver/thumbs/bear_1.png" alt="Img 1">
				</a>
			</li>
			<li>
				<a href="/img/products/silver/bear_2.png">
					<img src="/img/products/silver/thumbs/bear_2.png" alt="Img 2">
				</a>
			</li>
			<li>
				<a href="/img/products/silver/bear_3.png">
					<img src="/img/products/silver/thumbs/bear_3.png" alt="Img 3">
				</a>
			</li>
		</ul>
	</div>
	<div class="share">
		Like - Twitter
	</div>
</div>