
/* STRANGE FRUIT */
html,
body {
	height:100%;
	width:100%;
	overflow: hidden;
}

body {
	background: url(/img/skin/bg_grid.png) repeat center center;
}

	/* HEADER */
	header {

		position: absolute;
		top:0;
		left:0;
		z-index:1;

		width:100%;
		height:100%;
		
		.logo {
			position: absolute;
			top:0;
			left:50%;
			margin-left:-41px;
		}

		.cart {
			position: absolute;
			top:50%;
			left:0;
			margin-top:-41px;
		}
		.menu {
			position: absolute;
			top:50%;
			right:0;
			margin-top:-41px;

			.menu-btn {
				span {
					display: block;
					padding: 34px 0 0 8px;
					font-size:11px;
					text-transform:uppercase;
				}
			}

			&.open,
			&:hover {
				nav {
					ul {
						li {
							a {
								display:block;
								opacity:1;
							}
						}
					}
				}
			}

			nav {
				position: absolute;
				top:0;
				right:0px;

				ul {
					list-style:none;
					margin:0;
					padding:0;
					li {
						margin:0;
						padding:0;

						a {
							position: absolute;

							display: block;
							opacity:0;

							width:100px;
							height:100px;
							background: #000;
							.rotate(45deg);

							text-align:center;
							text-transform:uppercase;
							/* .transition(opacity, .1s); */

							&.about {
								top:-81px;
								left:-90px;
							}
							&.collection {
								top:-10px;
								left:-161px;
								/* .transition-delay(.05s); */
							}
							&.press {
								top:61px;
								left:-90px;
								/* .transition-delay(.1s); */
							}
							&:hover {
								background:#444;
								color:#ddd;
							}

							span {
								display: block;
								margin:42px 0 0;
								color:#fff;
								.rotate(-45deg);
							}
						}
					}
				}
			}
		}

		.logo,
		.cart,
		.menu {
			/* .transition(); */
		}
		.cart,
		.menu {
			/* .transition-delay(); */
		}


		.cart a,
		.menu .menu-btn {
			display: block;
			width:40px;
			height:82px;
			overflow: hidden;
			background: url(/img/skin/bg_cart.png) no-repeat left top;
			text-indent:-5000px;
		}

		.menu .menu-btn {
			background: url(/img/skin/bg_menu.png) no-repeat right top;
			text-indent:0;

			color:#fff;
		}
	}

	/* FOOTER */
	footer {

		position:absolute;
		bottom:0;
		left:0;
		z-index:3;
		
	}

	/* CONTENT */
	#wrapper {
		width:100%;
		height:100%;

		.content {
			
			position:relative;
			z-index:2;

			h1 {
				font-size:18px;
				text-transform:uppercase;
				font-weight:bold;
			}
			h2 {
				font-size:18px;
				text-transform:uppercase;
				font-weight:normal;
			}

		}	
	}

	/* SPECIFIC PAGE CONTENT */

	/* HOME */
	.home {
		header {
			.logo {
				top:-40px;
			}
			.cart {
				left:-40px;
			}
			.menu {
				right:-40px;

				nav {
					display: none;
				}
			}
		}
		footer {
			bottom:-40px;
		}
	}

	/* COLLECTIONS */
	.collections {

		#wrapper {
			.content {
				position: absolute;
				top:40px;
				left:40px;
				right:40px;
				bottom:40px;

				.list-collections {
					position:absolute;
					top:0;
					left:0;
					right:0;
					bottom:0;
					background:url("/img/skin/bg_collections.png") no-repeat center center;
					background-size: cover;

					a {
						position:absolute;
						background:url("/img/skin/bg_collection-link.png") no-repeat left top;
						color:#fff;
						display:block;
						width:182px;
						height:157px;
						padding:85px 0 0 60px;
						overflow: hidden;

						.title, .subtitle {
							display:block;
							text-transform:uppercase;
							font-size:18px;
						}
						.title {
							font-weight:bold;
						}
						.text {
							font-family:Georgia, Times, serif;
							font-size:12px;
							font-style:italic;
						}

						&.left-collection {
							left:0;
							top:50%;
							margin-top:-121px;
						}

						&.top-collection {
							left:50%;
							top:0;
							margin-left:-121px;
						}

						&.right-collection {
							right:0;
							top:50%;
							margin-top:-121px;
						}
					}
				}
			}
		}
	}


	/* MIXINS */
	.transition ( @property : all, @duration : .3s, @effect : linear ) {
		-webkit-transition: @property @duration @effect;
		-moz-transition: @property @duration @effect;
		-ms-transition: @property @duration @effect;
		-o-transition: @property @duration @effect;
		transition: @property @duration @effect;
	}
	.transition-delay ( @duration : .15s ) {
		-webkit-transition-delay: @duration;
		-moz-transition-delay: @duration;
		-ms-transition-delay: @duration;
		-o-transition-delay: @duration;
		transition-delay: @duration;
	}

	.rotate ( @deg:45deg ) {
		-webkit-transform: rotate(@deg);
		-moz-transform: rotate(@deg);
		-ms-transform: rotate(@deg);
		-o-transform: rotate(@deg);
		transform: rotate(@deg);
	}
