<div class="page-header">
	<h4>Strange Fruit Collections</h4>
	<h5>Silver plate bear</h5>
</div>
<div class="collection-item">
	<a href="/collections/silver-collection">
		<span class="title">Silver Collection</span>
		<span class="subtitle">Silver plate bear</span>
		<span class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</span>
	</a>
</div>
<div class="collection-item">
	<a href="/collections/bespoke-collection">
		<span class="title">Bespoke Collection</span>
		<span class="subtitle">Silver plate bear</span>
		<span class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</span>
	</a>
</div>
<div class="collection-item">
	<a href="/collections/fine-collection">
		<span class="title">Fine Collection</span>
		<span class="subtitle">Silver plate bear</span>
		<span class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		</span>
	</a>
</div>